.navbar { position: fixed; top: 0; left: 0; width: 100%; background-color: #391e0def; padding: 15px 0; z-index: 1000; box-shadow: 0 2px 5px rgba(56, 30, 15, 0.883); } 

.navbar ul { list-style: none; margin: 0; padding: 0; display: flex; justify-content: center; gap: 30px; } 

.navbar a { color: white; text-decoration: none; font-size: 18px; font-weight: 600; font-family: "Arial", Verdana, Helvetica; transition: 0.3s; } 

.navbar a:hover { color: #fff5e0; background-color: #834f2a; padding: 8px 15px; border-radius: 8px; } 

body { padding-top: 50px; } 

.page { display: flex; align-items: flex-start; } 

.content { flex: 1; margin-right: 20px; } 

.right-menu { width: 1000px; position: sticky; } 

.bottom-box p { margin: 0; font-size: 15px; } 

.bottom-box { background-color: #432715; padding: 10px 0; } 

.bottom-link { display: block; text-decoration: none; color: rgb(252, 242, 202); font-size: 14px; } 

.navbar a.active { color: #fff5e0; background-color: #b3784d; padding: 8px 15px; border-radius: 8px; } 

/* ================= MAIN STYLES ================= */ /* Body & background */ 

body { background-image: linear-gradient(rgba(107, 73, 34, 0.53), rgba(0, 0, 0, 0.3)), linear-gradient(to left, rgba(195, 128, 51, 0.439), rgba(43, 22, 8, 0.796)), url('../images/MahjongCube.jpg'); background-repeat: no-repeat; background-attachment: fixed; background-position: center center; background-size: cover; margin: 0; } /* Main heading */ 

h1 { transform: translate(30px, 10px); font-family: "Arial", Verdana, Helvetica; font-size: 114px; color: white; padding: 0; margin: 0; line-height: 0.9; } 

/* Paragraphs */ 
p { padding: 5px 38px; font-family: "Arial", Verdana, Helvetica; font-size: 25px; color: rgb(252, 242, 202); } /* Table styling */ table { border-collapse: collapse; width: 500px; table-layout: auto; background-color: #725309; border-color: #725309; font-family: "Arial", Verdana, Helvetica; font-size: 20px; border-radius: 40px; color: rgb(228, 206, 133); overflow: hidden; transform: translate(40px, 10px); padding-top: 10px; } 

td, th { border: none; background-color: #725309; border-spacing: 10px; text-align: center; padding: 15px; font-family: "Arial", Verdana, Helvetica; } /* Shadow effect for tables */ .shadow { box-shadow: 2px 2px 4px #4f3405; border: 1px solid rgb(77, 49, 10); } /* Content container */ 

.content { width: 800px; } 

/* Inline images (if used later) */ 
.inline-image { display: inline-block; vertical-align: top; width: 400px; }