/* BODY AND BACKGROUND */
body {
    margin: 0;
    padding-top: 60px;
    font-family: Arial, sans-serif;
    position: relative;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image:
        linear-gradient(rgba(65, 43, 18, 0.646), rgba(0, 0, 0, 0.3)),
        linear-gradient(to left, rgba(138, 87, 29, 0.568), rgba(43, 22, 8, 0.714)),
        url('../images/SpeakUP last day.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center 55%;
    background-size: cover;
    filter: blur(4px);
    z-index: -1;
    pointer-events: none;
}

/* HEADINGS */
h1 {
    font-family: "Arial", Verdana, Helvetica;
    color: white;
    margin: 20px 0 10px 40px;
}

h2 {
    padding: 15px 20px;          
    margin: 20px 0 10px 40px;             
    background-color: rgba(96, 76, 28, 0.82);     
    color: rgb(235, 227, 187);     
    cursor: pointer;              
    border-radius: 12px;           
    transition: background 0.3s;   
}

h2:hover {
    background-color: #876b2e;  
}

/* TEXT */
p, li {
    font-family: "Arial", Verdana, Helvetica;
    font-size: 25px;
    color: rgb(255, 248, 222);
    margin-left: 40px;
    line-height: 1.6;
}

/* CONTENT */
.content { 
    width: 1350px;
    margin-left: 40px;
}

/* TOGGLE CONTENT ANIMATION */

.toggle-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, padding 0.5s ease;
    padding: 0 20px;
}

.toggle-content.show {
    max-height: 1000px; 
    padding: 10px 20px;
}

/* IMAGE CONTAINER */
.image-container {
    text-align: center;
    margin: 30px 0;
}

.image-container img {
    width: 700px;
    margin: 20px 0;
    border-radius: 20px;
}

/* SHADOW BOXES (if needed? idk dawg) */
.shadow {
    box-shadow: 2px 2px 4px #4f3405;
    border: 1px solid rgb(77, 49, 10);
}
