h2 {
    padding: 15px 20px;          
    margin: 20px 0 10px 40px;             
    background-color: rgba(96, 76, 28, 0.82);     
    color: rgb(235, 227, 187);     
    cursor: pointer;              
    border-radius: 12px;           
    transition: background 0.3s;   
    font-family: "Arial", Verdana, Helvetica;
}

h2:hover {
    background-color: #876b2e;  
}


.toggle-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, padding 0.5s ease;
    padding: 0 20px;
}

.toggle-content.show {
    max-height: 1000px; 
    padding: 10px 20px;
}