/* BODY AND BACKGROUND */
body {
    margin: 0;
    padding-top: 60px;
    font-family: Arial, sans-serif;
    position: relative;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image:
        linear-gradient(rgba(107, 73, 34, 0.53), rgba(0, 0, 0, 0.3)),
        linear-gradient(to left, rgba(195, 128, 51, 0.271), rgba(43, 22, 8, 0.714)),
        url('../images/PSDC_2026PHOTO.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center 55%;
    background-size: cover;
    filter: blur(4px);
    z-index: -1;
    pointer-events: none;
}

/* HEADINGS */
h1 {
    transform: translate(30px, 10px);
    font-family: "Arial", Verdana, Helvetica;
    font-size: 90px;
    color: white;
    padding: 0;
    margin: 0;
    line-height: 0.9;
}

h2 {
    transform: translate(30px, 10px);
    font-family: "Arial", Verdana, Helvetica;
    font-size: 30px;
    color: white;
    padding: 0;
    margin: 0;
}

/* TABLE */
table {
    border-collapse: collapse;
    width: 500px;
    table-layout: auto;
    background-color: #725309;
    border-color: #725309;
    font-family: "Arial", Verdana, Helvetica;
    font-size: 20px;
    border-radius: 40px;
    color: rgb(228, 206, 133);
    overflow: hidden;
    transform: translate(40px, 10px);
    padding-top: 10px;
}

td, th {
    border: none;
    background-color: #725309;
    border-spacing: 10px;
    text-align: left;
    padding: 15px;
    font-family: "Arial", Verdana, Helvetica;
}

/* TEXT */
h3, ul, p {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 38px;
    padding-right: 38px;
    font-family: "Arial", Verdana, Helvetica;
    font-size: 25px;
    color: rgb(252, 242, 202);
}

/* CONTENT */
.content {
    width: auto;
    max-width: 95%;
    margin: 0 auto;
}

.shadow {
    box-shadow: 2px 2px 4px #4f3405;
    border: 1px solid rgb(77, 49, 10);
}

.column {
    font-size: 25px;
    row-gap: 40px;
    color: rgb(252, 242, 202);
}
